<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>agregar-parcela</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form [formGroup]="formularioAgregarParcela">

      <ion-item>
        <ion-label>Lugar</ion-label>
        <ion-select placeholder="Lugar" formControlName="lugar">
          <ion-select-option *ngFor="let lugar of lugares" [value]="lugar">
            {{lugar.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="enviado && f.lugar.errors?.required">
        <p class="error-message">Campo obligatorio.</p>
      </div>

      <ion-item>
        <ion-label>Tipo cultivo</ion-label>
        <ion-select placeholder="Tipo cultibo" formControlName="tipoCultivo">
          <ion-select-option *ngFor="let tipoCultivo of tiposCultivo" [value]="tipoCultivo">
            {{tipoCultivo.nombre}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="enviado && f.tipoCultivo.errors?.required">
        <p class="error-message">Campo obligatorio.</p>
      </div>

      <ion-item>
        <ion-label position="floating">Área</ion-label>
        <ion-input formControlName="area" type="number"></ion-input>
      </ion-item>
      <div *ngIf="enviado && f.area.errors?.required">
        <p class="error-message">Campo obligatorio.</p>
      </div>

      <ion-item>
        <ion-label>Date</ion-label>
        <ion-datetime display-format="MMM DD, YYYY" formControlName="fechaSiembra"></ion-datetime>
      </ion-item>
      <div *ngIf="enviado && f.fechaSiembra.errors?.required">
        <p class="error-message">Campo obligatorio.</p>
      </div>
    </form>
  </ion-list>
  <br>
  <ion-button expand="block" (click)="agregar()">Agregar</ion-button>
</ion-content>