*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.metadata/
.recommenders/
.sonarlint/
FertiWeb/src/main/resources/static

RemoteSystemsTempFiles/.project
