*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.metadata/
.recommenders/
.sonarlint/
FertiWeb/src/main/resources/static

RemoteSystemsTempFiles/.project
FertiWeb/bin/main/dataH2.sql
FertiWeb/bin/test/jsonTest/JSON_LIST_ANALISIS.json
FertiWeb/bin/test/jsonTest/JSON_ANALISIS.json
FertiWeb/bin/main/dominio/Requerimiento.class
FertiWeb/bin/main/dominio/Recomendacion.class
FertiWeb/bin/main/dominio/Parcela.class
FertiWeb/bin/main/dominio/Lugar.class
FertiWeb/bin/main/dominio/Fuente.class
FertiWeb/bin/main/dominio/ElementoXAnalisis.class
FertiWeb/bin/main/dominio/Elemento.class
FertiWeb/bin/main/dominio/Analisis.class
FertiWeb/bin/main/dataMySql.sql
FertiWeb/bin/main/controladores/ControladorSeguridad.class
FertiWeb/bin/main/controladores/ControladorDeDatosRecomendacion.class
FertiWeb/bin/main/controladores/ControladorDatosUsuario.class
FertiWeb/bin/main/controladores/ControladorDatosUnidad.class
FertiWeb/bin/main/controladores/ControladorDatosTipoFuente.class
FertiWeb/bin/main/controladores/ControladorDatosTipoCultivo.class
FertiWeb/bin/main/controladores/ControladorDatosRol.class
FertiWeb/bin/main/controladores/ControladorDatosRequerimiento.class
FertiWeb/bin/main/controladores/ControladorDatosParcela.class
FertiWeb/bin/main/controladores/ControladorDatosLugar.class
FertiWeb/bin/main/controladores/ControladorDatosFuente.class
FertiWeb/bin/main/controladores/ControladorDatosElementoXAnalisis.class
FertiWeb/bin/main/controladores/ControladorDatosElemento.class
FertiWeb/bin/main/controladores/ControladorDatosApp.class
FertiWeb/bin/main/controladores/ControladorDatosAnalisis.class
FertiWeb/bin/main/controladores/ControladorDatos.class
FertiWeb/bin/main/configuracion/spring/FertiWebApplication.class
FertiWeb/bin/main/configuracion/seguridad/ServidorRecursosConfiguracion.class
FertiWeb/bin/main/configuracion/seguridad/SeguridadConfiguracion.class
FertiWeb/bin/main/configuracion/seguridad/AutenticacionConfiguracion.class
FertiWeb/bin/main/persistencia/entidad/UsuarioSeguridadEntidad.class
FertiWeb/bin/main/persistencia/entidad/UsuarioEntidad.class
FertiWeb/bin/main/persistencia/entidad/UnidadEntidad.class
FertiWeb/bin/main/persistencia/entidad/TipoFuenteEntidad.class
FertiWeb/bin/main/persistencia/entidad/TipoCultivoEntidad.class
FertiWeb/bin/main/persistencia/entidad/RolEntidad.class
FertiWeb/bin/main/persistencia/entidad/ResultadoEntidad.class
FertiWeb/bin/main/persistencia/entidad/RequerimientoEntidad.class
FertiWeb/bin/main/persistencia/entidad/RecomendacionEntidad.class
FertiWeb/bin/main/persistencia/entidad/ParcelaEntidad.class
FertiWeb/bin/main/persistencia/entidad/LugarEntidad.class
FertiWeb/bin/main/persistencia/entidad/FuenteEntidad.class
FertiWeb/bin/main/persistencia/entidad/ElementosEntidad.class
FertiWeb/bin/main/persistencia/entidad/ElementoXAnalisisEntidad.class
FertiWeb/bin/main/persistencia/entidad/AnalisisEntidad.class
FertiWeb/bin/main/dto/DTOTipoFuente.class
FertiWeb/bin/main/dto/DTOResponse.class
FertiWeb/bin/main/dto/DTOParcela.class
FertiWeb/bin/main/dto/DTOFuente.class
FertiWeb/bin/main/dto/DTOElementoXAnalisis.class
FertiWeb/bin/main/dto/DTOAnalisis.class
FertiWeb/bin/main/dto/AnalisisAdministrador.class
FertiWeb/bin/main/dominio/UsuarioSeguridad.class
FertiWeb/bin/main/dominio/Usuario.class
FertiWeb/bin/main/dominio/Unidad.class
FertiWeb/bin/main/dominio/TipoFuente.class
FertiWeb/bin/main/dominio/TipoCultivo.class
FertiWeb/bin/main/dominio/Rol.class
FertiWeb/bin/main/dominio/Resultado.class
FertiWeb/bin/test/consumo_servicios/Consumo_servicio_analisis.txt
FertiWeb/bin/test/FertiWebBackEnd/FertiWeb/FertiWebApplicationTests.class
FertiWeb/bin/main/static/index.html
FertiWeb/bin/main/servicios/ServicioUsuario.class
FertiWeb/bin/main/servicios/ServicioTipoFuente.class
FertiWeb/bin/main/servicios/ServicioRol.class
FertiWeb/bin/main/servicios/ServicioRequerimiento.class
FertiWeb/bin/main/servicios/ServicioParcela.class
FertiWeb/bin/main/servicios/ServicioLugar.class
FertiWeb/bin/main/servicios/ServicioElemento.class
FertiWeb/bin/main/servicios/ServicioCultivo.class
FertiWeb/bin/main/servicios/ServicioAnalisis.class
FertiWeb/bin/main/servicios/ServicicoSeguridad.class
FertiWeb/bin/main/servicios/SerivicioFuente.class
FertiWeb/bin/main/persistencia/repositorio/UsuarioSeguridadRepository.class
FertiWeb/bin/main/persistencia/repositorio/UsuarioRepository.class
FertiWeb/bin/main/persistencia/repositorio/UnidadRepository.class
FertiWeb/bin/main/persistencia/repositorio/TipoFuenteRepository.class
FertiWeb/bin/main/persistencia/repositorio/TipoCultivoRepository.class
FertiWeb/bin/main/persistencia/repositorio/RolRepository.class
FertiWeb/bin/main/persistencia/repositorio/ResultadoRepository.class
FertiWeb/bin/main/persistencia/repositorio/RequerimientoRepository.class
FertiWeb/bin/main/persistencia/repositorio/RecomendacionRepository.class
FertiWeb/bin/main/persistencia/repositorio/ParcelaRepository.class
FertiWeb/bin/main/persistencia/repositorio/LugarRepository.class
FertiWeb/bin/main/persistencia/repositorio/FuenteRepository.class
FertiWeb/bin/main/persistencia/repositorio/ElementosRepository.class
FertiWeb/bin/main/persistencia/repositorio/ElementoXAnalisisRepository.class
FertiWeb/bin/main/persistencia/repositorio/AnalisisRepository.class
