<h2>Fuentes de fertilización</h2>
<nz-table #basicTable [nzData]="dataSet">
  <thead>
    <tr>
      <th>Tipo fuente</th>
      <th>Producto</th>
      <th>Estado</th>
      <th nzWidth="10%">
        <button nz-button nzType="primary" [nzSize]="size" nzShape="circle" (click)="crearRegistro()" (click)="appDrawer.open('Fuente')">
          <i class="anticon anticon-plus"></i>
        </button>
        <app-drawer #appDrawer></app-drawer>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.tipoFuente}}</td>
      <td>{{data.producto}}</td>
      <td>
        <nz-switch [(ngModel)]="data.estado" (ngModelChange)="cambiarEstado(data)" [nzCheckedChildren]="checkedTemplate"
          [nzUnCheckedChildren]="unCheckedTemplate"></nz-switch>
        <ng-template #checkedTemplate><i class="anticon anticon-check"></i></ng-template>
        <ng-template #unCheckedTemplate><i class="anticon anticon-cross"></i></ng-template>
      </td>
      <td>
        <a><i class="anticon anticon-edit" (click)="editarRegistro(data)" (click)="appDrawer.open('Fuente')"> </i></a>
        <nz-divider nzType="vertical"></nz-divider>
        <a><i class="anticon anticon-delete" (click)="borrarFuente(data)"></i></a>
      </td>
    </tr>
  </tbody>
</nz-table>