<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Análisis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="md list-md hydrated">
    <ng-container *ngFor="let analisis of analisis">
      <ion-item button="" (click)="mostrarDetalle(analisis)"
        class="item md in-list ion-activatable ion-focusable item-label hydrated">
        <ion-label class="sc-ion-label-md-h sc-ion-label-md-s md hydrated">
          <h3>{{analisis.parcela.lugar.nombre}} - {{analisis.fechaAnalisis | date: 'dd/MM/yyyy'}}</h3>
        </ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarAnalisis()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>