<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Análisis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="md list-md hydrated">
    <ng-container *ngFor="let analisis of analisis">
      <ion-card (click)="mostrarDetalle(analisis)">
        <ion-card-header>
          <ion-card-title>{{analisis.parcela.lugar.nombre}} {{analisis.parcela.area | number}} (m²)
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-label>{{analisis.parcela.tipoCultivo.nombre}} {{analisis.parcela.tipoCultivo.variedad}} -
            {{analisis.fechaAnalisis | date: 'dd/MM/yyyy'}}</ion-label>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregarAnalisis()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>