/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ng-zorro-antd/src/ng-zorro-antd.css";

.table-scroll{
    position: relative;
    display: block;
    overflow: hidden;
}

.table-content{
    position: relative;
    display: table;
}

.table-lateral{
    position: relative;
    z-index: 10;
}

.table-content th, .table-content td{
    position: relative;
    white-space: nowrap;
}

.table-content th.oculto, .table-content td.oculto{
    display: none;
}

.table-control{
    float: right;
}

.table-control span{
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-top: 1px solid rgb(232, 232, 232);
    padding: 10px 16px;
    text-align: right;
    left: 0px;
    background: #fff;
  }

  .ant-btn-primary {
    color: #fff;
    background-color: #52c41a;
    border-color: #1ac43fd3;
}

.ant-switch-checked {
    background-color: #52c41a;
}

a {
    color: #127a09;
    background-color: transparent;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    transition: color .3s;
    -webkit-text-decoration-skip: objects;
}
.ant-pagination-item-active a {
    color: #52c41a;
}
.ant-pagination-item-active {
    border-color: #52c41a;
    font-weight: 500;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
    background-color: #52c41a;
}
  