<ion-content>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center>
        <div text-center>
          <h1>FertiApp</h1>
        </div>
        <div class="image">
          <img src="/assets/usuario.png">
        </div>
        <div padding>
          <form [formGroup]="formularioInicioSesion">
            <ion-item>
              <ion-label position="floating">Número de identificación</ion-label>
              <ion-input formControlName="nombreUsuario" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
          </form>
        </div>
        <div *ngIf="enviado && formularioInicioSesion.invalid">
          <p class="error-message">Debe ingresar los datos de acceso.</p>
        </div>
        <div padding>
          <ion-button expand="block" (click)="iniciarSesion()">Iniciar sesión</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<div style="position: absolute; bottom: 0px; width: 100%">
  <div padding style="text-align: center">
    <ion-button expand="block" (click)="redireccionRegistrarUsuario()">Registrar</ion-button>
  </div>
</div>