.table-scroll{
    position: relative;
    display: block;
    overflow: hidden;
    }
    
    .table-content{
    position: relative;
    display: table;
    }
    
    .table-lateral{
    position: relative;
    z-index: 10;
    }
    
    .table-content th, .table-content td{
    position: relative;
    white-space: nowrap;
    }
    
    .table-content th.oculto, .table-content td.oculto{
    display: none;
    }
    
    .table-control{
    float: right;
    }
    
    .table-control span{
    cursor: pointer;
    }