:host ::ng-deep .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
    color: #fff
  }

  :host ::ng-deep .trigger:hover {
    color: #fff;

  }

  :host ::ng-deep .logo {
    height: 32px;
    background: #00838f;
    margin: 16px;
  }

.nz-button{
    margin-left: 8px;
    margin-bottom: 12px;
  }

  .ant-menu {
    background: #00838f;
    color: #fff;
}




  