<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-chip style="padding-top: 25px; padding-bottom: 25px; margin-top: 22px;">
    <ion-icon color="primary" style="height: auto;"></ion-icon>
    <ion-label>Se enviará una contraseña nueva al correo electrónico registrado.</ion-label>
  </ion-chip>
  <form [formGroup]="formularioRecuperacion">
    <ion-col align-self-center>
      <div padding>
        <ion-item>
          <ion-label position="floating">Número de identificación</ion-label>
          <ion-input formControlName="documento" type="number"></ion-input>
        </ion-item>
        <div *ngIf="enviado && f.documento.errors?.required">
          <p class="error-message">Campo obligatorio.</p>
        </div>
        <div padding>
          <ion-button expand="block" (click)="recuperarContrasena()">Recuperar</ion-button>
        </div>
      </div>
    </ion-col>
  </form>
</ion-content>