<ion-header>
  <ion-toolbar>
    <ion-title>Agregar elemento</ion-title>
    <ion-buttons slot="end" class="sc-ion-buttons-ios-h sc-ion-buttons-ios-s ios hydrated">
      <ion-button (click)="cerrarModal()" class="ios button button-clear ion-activatable ion-focusable hydrated">
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <div padding>
          <form [formGroup]="formularioAgregarElemento">
            <ion-item>
              <ion-label>Elemento</ion-label>
              <ion-select placeholder="Seleccione..." formControlName="elemento" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option *ngFor="let elemento of elementos" [value]="elemento">
                  {{elemento.elemento}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="enviado && f.elemento.errors?.required">
              <p class="error-message">Campo obligatorio.</p>
            </div>
            <ion-item>
              <ion-label position="floating">Cantidad</ion-label>
              <ion-input formControlName="cantidad" type="number"></ion-input>
            </ion-item>
            <div *ngIf="enviado && f.cantidad.errors?.required">
              <p class="error-message">Campo obligatorio.</p>
            </div>
            <div *ngIf="enviado && f.cantidad.errors?.min">
              <p class="error-message">Debe ser mínimo 1.</p>
            </div>
            <div *ngIf="enviado && f.cantidad.errors?.max">
              <p class="error-message">Debe ser máximo 999999999.</p>
            </div>

            <ion-item>
              <ion-label>Unidad</ion-label>
              <ion-select placeholder="Seleccione..." formControlName="unidad" okText="Aceptar" cancelText="Cancelar">
                <ion-select-option *ngFor="let unidad of unidades" [value]="unidad">
                  {{unidad.nombreUnidad}}
                </ion-select-option>
              </ion-select>
            </ion-item>
            <div *ngIf="enviado && f.unidad.errors?.required">
              <p class="error-message">Campo obligatorio.</p>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="position: absolute; bottom: 0px; width: 100%">
    <div padding style="text-align: center">
      <ion-button expand="block" (click)="agregarElemento()">Agregar elemento</ion-button>
    </div>
  </div>
</ion-content>