<form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()" (editDate)="editDate($event)">

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="variedad" placeholder="Variedad" [(ngModel)]="tipoCultivo.variedad">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('variedad').dirty && validateForm.get('variedad').errors">Ingrese la variedad</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="nombre" placeholder="Nombre" [(ngModel)]="tipoCultivo.nombre">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('nombre').dirty && validateForm.get('nombre').errors">Ingrese el nombre</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-tag [nzColor]="tipoCultivo.estado?'green':'red'">Estado</nz-tag>
      <nz-switch [(ngModel)]="tipoCultivo.estado" [ngModelOptions]="{standalone: true}" nzCheckedChildren="1" nzUnCheckedChildren="0"></nz-switch>
    </nz-form-control>
  </nz-form-item>
  
</form>