<nz-drawer [nzClosable]="false" [nzWidth]="320" [nzVisible]="visible" nzTitle="Agregar requerimiento cultivo"
  (nzOnClose)="close()">
  <div *ngIf="visible">
    <form nz-form [nzLayout]="'vertical'" [formGroup]="formularioAgregarRequerimiento">
      <nz-form-item>
        <nz-form-control>
          <nz-select placeholder="Cultivo" nz-input formControlName="tipoCultivo">
            <nz-option *ngFor="let cultivo of cultivos" placeholder="Cultivo"
              [nzLabel]="cultivo.nombre + ' ' + cultivo.variedad" [nzValue]="cultivo">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="enviado && f.tipoCultivo.errors?.required">
            Seleccione un cultivo</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-select placeholder="Elemento" nz-input formControlName="elemento">
            <nz-option *ngFor="let elemento of elementos" placeholder="Elemento" [nzLabel]="elemento.elemento"
              [nzValue]="elemento">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="enviado && f.elemento.errors?.required">
            Seleccione un elemento</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-select placeholder="Unidad" nz-input formControlName="unidad">
            <nz-option *ngFor="let unidad of unidades" placeholder="Unidad" [nzLabel]="unidad.nombreUnidad"
              [nzValue]="unidad">
            </nz-option>
          </nz-select>
          <nz-form-explain *ngIf="enviado && f.unidad.errors?.required">Seleccione la unidad</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="anticon anticon-edit">
            <input type="number" nz-input formControlName="cantidad" placeholder="Cantidad">
          </nz-input-group>
          <nz-form-explain *ngIf="enviado && f.cantidad.errors?.required">Ingrese una
            cantidad</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-control>
          <nz-tag [nzColor]="f.estado.value?'green':'red'">Estado</nz-tag>
          <nz-switch nzCheckedChildren="1" nzUnCheckedChildren="0" formControlName="estado"></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="footer">
      <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>Cancelar</span></button>
      <button type="button" (click)="submit();" class="ant-btn ant-btn-primary"><span>Agregar</span></button>
    </div>
  </div>
</nz-drawer>
