<form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="cultivo" placeholder="Cultivo">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('cultivo').dirty && validateForm.get('cultivo').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="nitrogeno" placeholder="Nitrogeno">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('nitrogeno').dirty && validateForm.get('nitrogeno').errors">Ingrese la
        cantidad</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="fosforo" placeholder="Fosforo">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('fosforo').dirty && validateForm.get('fosforo').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="potasio" placeholder="Potasio">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('potasio').dirty && validateForm.get('potasio').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="magnesio" placeholder="Magnesio">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('magnesio').dirty && validateForm.get('magnesio').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="calcio" placeholder="Calcio">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('calcio').dirty && validateForm.get('calcio').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="aluminio" placeholder="Aluminio">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('aluminio').dirty && validateForm.get('aluminio').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="sodio" placeholder="Sodio">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('sodio').dirty && validateForm.get('sodio').errors">Ingrese un nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="azufre" placeholder="Azufre">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('azufre').dirty && validateForm.get('azufre').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="hierro" placeholder="Hierro">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('hierro').dirty && validateForm.get('hierro').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="boro" placeholder="Boro">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('boro').dirty && validateForm.get('boro').errors">Ingrese un nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="cobre" placeholder="Cobre">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('cobre').dirty && validateForm.get('cobre').errors">Ingrese un nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="manganeso" placeholder="Manganeso">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('manganeso').dirty && validateForm.get('manganeso').errors">Ingrese un
        nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-input-group nzPrefixIcon="anticon anticon-edit">
        <input type="text" nz-input formControlName="zinc" placeholder="Zinc">
      </nz-input-group>
      <nz-form-explain *ngIf="validateForm.get('zinc').dirty && validateForm.get('zinc').errors">Ingrese un nutriente</nz-form-explain>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <nz-tag [nzColor]="'green'">Estado</nz-tag>
      <nz-switch [(ngModel)]="requerimientoCultivo.estado" [ngModelOptions]="{standalone: true}" nzCheckedChildren="1"
        nzUnCheckedChildren="0"></nz-switch>
    </nz-form-control>
  </nz-form-item>
</form>