<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle análisis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{analisisADetallar.parcela.lugar.nombre}} - {{analisisADetallar.parcela.area | number}} (m²)
      </ion-card-title>
      <ion-card-subtitle>{{analisisADetallar.fechaAnalisis | date: 'dd/MM/yyyy'}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <h2>Elementos: </h2>
      <ion-list>
        <ion-item *ngFor="let elemento of analisisADetallar.elementos">
          <ion-label>{{elemento.elemento.elemento}} - {{elemento.cantidad}} {{elemento.unidad.nombreUnidad}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-list style="margin-bottom: 50px">
    <ion-list-header>
      <h4>Histórico recomendaciones</h4>
    </ion-list-header>
    <ion-card *ngFor="let recomendacion of recomendaciones">
      <ion-card-header>
        <ion-card-title>{{recomendacion.fechaRecomendacion | date: 'dd/MM/yyyy'}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ng-container *ngFor="let elemento of recomendacion.analisis.elementos">
          <strong>{{elemento.elemento.elemento}}:&nbsp;</strong>
          <ion-label>{{elemento.cantidad}}</ion-label>
          <br>
        </ng-container>
        <ion-chip style="padding-top: 25px; padding-bottom: 25px">
          <ion-icon color="primary" style="height: auto;"></ion-icon>
          <ion-label>Recuerde que la recomendación está dada en kg/ha.</ion-label>
        </ion-chip>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
<div style="position: fixed; bottom: 0px; width: 100%">
  <div padding style="text-align: center">
    <ion-button expand="block" vertical="bottom" (click)="generarRecomendacion()">Generar recomendación</ion-button>
  </div>
</div>